<%= form_for(@coupone) do |f| %>
  <% if @coupone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupone.errors.count, "error") %> prohibited this coupone from being saved:</h2>

      <ul>
      <% @coupone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :number_of_available %><br>
    <%= f.number_field :number_of_available %>
  </div>
  <div class="field">
    <%= f.label :restaurant_id %><br>
    <%= f.number_field :restaurant_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
