<h1>Listing coupones</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Number of available</th>
      <th>Restaurant</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @coupones.each do |coupone| %>
      <tr>
        <td><%= coupone.description %></td>
        <td><%= coupone.number_of_available %></td>
        <td><%= coupone.restaurant_id %></td>
        <td><%= link_to 'Show', coupone %></td>
        <td><%= link_to 'Edit', edit_coupone_path(coupone) %></td>
        <td><%= link_to 'Destroy', coupone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coupone', new_coupone_path %>
