<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" 
      											  data-target="#bs-example-navbar-collapse-1">

        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to(image_tag("logo-navbar.png"), admin_dashboard_path) %> 
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= t ".locale" %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "English", locale: "en" %></li>
			<li><%= link_to "Bosnian", locale: "bs" %></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      	<li><a href="#"> <%= t ".current_user" %> [<%= current_user.email %>] </a></li>
        <li><%= link_to(t(".logout") , logout_path) %></li>
      </ul>
    </div>

  </div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-md-3" style="border: 1px solid #f0f0f0;">
		</div>

		<div class="col-md-9" style="border: 1px solid #f0f0f0;">
			<h3><%= t ".main_header" %></h3>

			<%= @users_count %>
			<%= @number_of_confirmed_users %>
			<%= unconfirmed_users(@users_count, @number_of_confirmed_users) %>
		</div>
	</div>
</div>

