<%= render "navbar" %>

<div class="container-fluid">
  <div class="row">
    <%= render "sidebar" %>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      
      <ul id="adminTabs" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#profile">Profile</a></li>
        <li><a data-toggle="tab" href="#editProfile">Edit Profile</a></li>
        <li><a data-toggle="tab" href="#changePassword">Change password</a></li>
      </ul>

      <div class="tab-content">
        <!--Profile informations -->
        <div id="profile" class="tab-pane fade in active"><br>

          <div class="admin-tab-notices"></div>

          <div class="row placeholders">
            <div class="col-lg-4">
              <div class="col-sm-6 col-md-3">
                <p>
                  <%= image_tag(current_user.picture, :width => 200) if current_user.picture.present? %>
                </p>                 
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <h4> Basic Informations </h4>
            <div class="table-responsive">
              <div id="update-container">
                <table class="table">
                  <tbody>
                    <tr class="success">
                      <td><i class="glyphicon glyphicon-user"></i></td>
                      <td>Name</td>
                      <td><strong><%= current_user.name %></strong></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>Username</td>
                      <td><strong><%= current_user.username %></strong></td>
                    </tr>
                    <tr>
                      <td><i class="glyphicon glyphicon-envelope"></i></td>
                      <td>Email</td>
                      <td><strong><%= current_user.email %></strong></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div> 
        </div>

        <!--Edit profile -->
        <div id="editProfile" class="tab-pane fade"><br>

          <div class="col-lg-4">
            <%= form_for [:admin, current_user], remote: true, html: { class: "form-horizontal update-user", role: "form", :multipart => true}, :authenticity_token => true do |f| %>
            
              <div class="form-group">
                 <%= f.label :name, class: "control-label col-xs-2" %>
                <div class="col-xs-10">
                  <%= f.text_field :name, class: "form-control", placeholder: "Enter new name" %><br>
                </div>
              </div>
              
              <div class="form-group">
                <%= f.label :username, class: "control-label col-xs-2" %>
                <div class="col-xs-10">
                  <%= f.text_field :username, class: "form-control", placeholder: "Enter new username" %><br>
                </div>
              </div>
                    
              <div class="form-group">
                 <%= f.label :email, class: "control-label col-xs-2" %>
                <div class="col-xs-10">
                   <%= f.text_field :email, class: "form-control", placeholder: "Enter new email" %><br>
                </div>
              </div>

              <%= f.label :picture, class: "control-label"  %><br>
              <%= f.file_field :picture %>
              <%= f.hidden_field :picture_cache %><br>

                                        
              <%= f.submit "Update informations", class: "btn btn-success" %>
            <% end %>

            <div class="update-tab-notices"></div>
          </div> 
        </div>

          <!--Change password -->
          <div id="changePassword" class="tab-pane fade"><br>
              <div class="password-tab-notices"></div>
              <%= form_for [:admin, current_user], 
                            remote: true,
                            html: { class: "form-horizontal reset-password", role: "form" } do |f| %>

                <div class="form-group">
                  <div class="col-md-3">
                    <%= f.password_field :password, class: "form-control", placeholder: "password" %>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-3">
                    <%= f.password_field :password_confirmation, class: "form-control", 
                                          placeholder: "password confirmation"  %>
                  </div>
                </div>

                <%= f.submit "Change password", class: "btn btn-success"%>
              <% end %>
          </div> 

      </div>        
    </div>
  </div>        
</div>