<%= form_for [:admin, @restaurant] do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h4>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger">
        <li><%= msg %></li>
      </div>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name , class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description , class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br>
    <%= f.text_field :telephone , class: "form-control" %>
  </div>

  
  <div class="field">
    <%= f.label :fb_url %><br>
    <%= f.text_field :fb_url , class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image , class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br>
    <%= f.collection_select(:owner_id, User.all, :id, :email) %>
  </div>
  <br>
  <div class="action">
    <%= f.submit  class: 'btn btn-default'%>
  </div>
<% end %>




