<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Telephone</th>
      <th>Web site</th>
      <th>Image</th>
      <th>Owner</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.description[0,30]+'...' %></td>
        <td><%= restaurant.telephone %></td>
        <td><%= restaurant.fb_url[0,15]+'...' %></td>
        <td><%= restaurant.image %></td>
        <td><%= User.find(restaurant.owner_id).email %></td>
        <td><%= link_to 'show', admin_restaurant_path(restaurant),  {:remote => true ,'class'=>'btn btn-info'}  %> 
          <%= link_to 'Show', admin_restaurant_path(restaurant) %>
        </td>
        <td><%= link_to 'edit', edit_admin_restaurant_path(restaurant),  {:remote => true ,'class'=>'btn btn-info'}  %> 
          <%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %>
        </td>
        <td><%= link_to 'Destroy', admin_restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure?'} , 'class'=>'btn btn-danger'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>