 <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Restaurant Informations</h4>
      </div>
      <div class="modal-body">
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @restaurant.telephone %>
</p>

<p>
  <strong>Web site:</strong>
  <%= @restaurant.fb_url %>
</p>

<p>
  <strong>Image:</strong><br>
  <%= image_tag(@restaurant.image) %>
</p>

<p>
  <strong>Owner:</strong>
  <%= User.find(@restaurant.owner_id).email%>
</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->