<%= render "admin/dashboard/navbar" %>
<style type="text/css">
.table {
  margin-left:-10px;
}

</style>
<div class="container-fluid">
  <div class="row">
    <%= render "admin/dashboard/sidebar" %>
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Dashboard</h1>

      <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
         
             
        </div>
      </div>

<h1>Listing restaurants</h1>

<%= form_tag(admin_restaurants_path, :method => "get", id: "search-form", :remote => true) do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search restaurants" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
<div id="tabela">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Telephone</th>
      <th>Fb url</th>
      <th>Image</th>
      <th>Owner</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.description[0,30]+'...' %></td>
        <td><%= restaurant.telephone %></td>
        <td><%= restaurant.fb_url[0,15]+'...' %></td>
        <td><%= restaurant.image %></td>
        <td><%= User.find(restaurant.owner_id).email %></td>
        <td><%= link_to 'show', admin_restaurant_path(restaurant),  {:remote => true ,'class'=>'btn btn-info'}  %> 
          <%= link_to 'Show', admin_restaurant_path(restaurant) %>
        </td>
        <td><%= link_to 'edit', edit_admin_restaurant_path(restaurant),  {:remote => true ,'class'=>'btn btn-info'}  %> 
          <%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %>
        </td>
        <td><%= link_to 'Destroy', admin_restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure?'} , 'class'=>'btn btn-danger'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Restaurant', new_admin_restaurant_path %>

<div id="showModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

<div id="editModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

<% if flash[:notice].present? %>
   <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <li><%= flash[:notice] %></li>
    </div>
<% end %>



</div>
</div>
</div>