<%= render "admin/dashboard/navbar" %>
<style type="text/css">
.table {
  margin-left:-10px;
}

</style>
<div class="container-fluid">
  <div class="row">
    <%= render "admin/dashboard/sidebar" %>
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h1><%= t ".list_restaurants" %></h1>
      <hr>
      <div class="col-xs-6">
        <%= form_tag(admin_restaurants_path, :method => "get", id: "search-form", 
            :class => "form-inline", :remote => true) do %>
          <%= text_field_tag :search, params[:search], :class => "form-control" %>
          <%= submit_tag "Search", :name => nil, :class => "btn btn-success" %>
        <% end %>
      </div>

      <br><br>
      <div id="tabela">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= t ".name" %></th>
            <th><%= t ".description" %></th>
            <th><%= t ".telephone" %></th>
            <th><%= t ".address" %></th>
            <th><%= t ".web_site" %></th>
            <th><%= t ".owner" %></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @restaurants.each do |restaurant| %>
            <tr>
              <td><%= restaurant.name %></td>
              <td><%= restaurant.description[0,40]+'...' %></td>
              <td><%= restaurant.telephone %></td>
              <td><%= restaurant.address %></td>
              <td><%= restaurant.fb_url[0,15]+'...' %></td>
              <td><%= User.find(restaurant.owner_id).email %></td>
              <td><%= link_to t(".show"), admin_restaurant_path(restaurant),  {:remote => true ,'class'=>'btn btn-info'}  %> 
              </td>
              <td><%= link_to t(".edit"), edit_admin_restaurant_path(restaurant),  {:remote => true ,'class'=>'btn btn-success'}  %> 
              </td>
              <td><%= link_to t(".destroy"), admin_restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure?'} , 'class'=>'btn btn-danger'  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      <br>

      <%= link_to t(".new"), new_admin_restaurant_path, 'class'=>'btn btn-primary' %>

      <div id="showModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      </div>

      <div id="editModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      </div>

      <% if flash[:notice].present? %>
         <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <li><%= flash[:notice] %></li>
          </div>
      <% end %>



</div>
</div>
</div>