<%= render "admin/dashboard/navbar" %>
<div class="container-fluid">
  

  <div class="row">
    <%= render "admin/dashboard/sidebar" %>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @restaurant.telephone %>
</p>

<p>
  <strong>Web site:</strong>
  <%= @restaurant.fb_url %>
</p>

<p>
  <strong>Image:</strong>
  <%= @restaurant.image %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @restaurant.owner_id %>
</p>

<%= link_to 'Edit', edit_admin_restaurant_path(@restaurant) %> |
<%= link_to 'Back', admin_restaurants_path %>
