<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @restaurant.telephone %>
</p>

<p>
  <strong>Fb url:</strong>
  <%= @restaurant.fb_url %>
</p>

<p>
  <strong>Image:</strong>
  <%= @restaurant.image %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @restaurant.owner_id %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
