<form {{action save on="submit"}}>
    <div class="control-group" {{bindAttr class="errors.email:error"}}>
        <label for="user-email">Email</label>
        {{view Ember.TextField valueBinding='email' id="user-email" required="true"}}
        <span class="help-inline">
            {{errors.email}}
        </span>
    </div>
    <div class="control-group" {{bindAttr class="errors.password:error"}}>
        <label for="user-password">Password</label>
        {{view Ember.TextField type="password" valueBinding='password' id="user-password" required="true"}}
    </div>
    <button type="submit">Login</button>
    <a {{action cancel}}>Cancel</a>
</form>