<div class="container">

	<br>
 
    <h1 class="text-center">Coupons</h1><br>
    <h4 class="text-center"> Simply use the restaurant coupon you like best and get ready to chow down on the cheap!!!!. </h4>
    <br>
 
    <div class="input-group">   

        {{view Ember.TextField valueBinding="description" type="text" id="description" class="form-control input-xlarge" placeholder="Search by description"}}
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
        </span>    
    </div>
 
    <br>
    <button type="button" class="btn btn-success" {{action "all" }}>
        Search!
    </button>
        
    
    <hr class="colorgraph">
    <br>

    <div class="row">
    	 
		{{#each item in controller}}
			<div class="col-xs-6 col-sm-6 col-md-3">
	          <div class="thumbnail">
	            <img src="assets/buy-your-meal.png" alt="">
	              <div class="caption">
	                <p>Restaurant: <font color="blue"><b>{{item.restaurant.name}}</b></font></p>
	                <p><b>Description:</b> {{ item.description }}</p>
	                <p>Available coupons: <font color="red"><b>{{ item.number_of_available}}</b></font></p>
	                <p> </p>
                    <button type="button" class="btn btn-success" {{action "ReserveCoupon" item }}>
        Rezervisi Kupon!
    </button>
	            </div>
	          </div>
	        </div>      	
		{{/each}}
	
	</div>
</div>
