<div class="container">


   <h1 class="text-center">Restaurants</h1>


    <section class="col-xs-12 col-sm-6 col-md-12">

            <article class="search-result row">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <img {{bind-attr src=image}} height="180" width="280">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2">
                    <ul class="meta-search">
                        <li><i class="glyphicon glyphicon-home"></i> <span> {{address}} </span></li>
                        <li>
                            <i class="glyphicon glyphicon-phone-alt"></i> <span> {{telephone}}</span>
                        </li>
                        <li><i class="glyphicon glyphicon-link"></i><span>
                        <a {{bind-attr href=fb_url}}>{{name}}</a></span>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                    <h3>{{name}}</h3>
                    <p>{{description}}</p>
                     
                     <button type="button" class="btn btn-info" {{action "edit" this}}> 
                        Edit Restaurant 
                    </button> 

                                      
                    <button type="button" class="btn btn-danger" {{action "delete" id}}> 
                        Delete restaurant 
                    </button>                  

                </div>
                <span class="clearfix borda"></span>
            </article>
            <br><br>
            <hr>
            <iframe
                width="800"
                height="600"
                frameborder="0" style="border:0"
                {{bind-attr src=adresaURL}}>
            </iframe>

            <hr>

    </section>
</div>
