<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
          <div class="panel panel-default">
            
            <hr class="colorgraph">
            <div class="panel-body">

             <form role="form">

                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <label for="name">Change username</label>
                      {{view Ember.TextField valueBinding="content.username" type="text" id="username" class="form-control input-xlarge"}}
                    </div>
                  </div>
                </div>
                <br>

                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <label for="email">Change email</label>
                      {{view Ember.TextField valueBinding="content.email" type="text" id="email" class="form-control input-xxlarge"}}
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      
                    </div>
                  </div>
                </div>
                <br>

                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                         <label for="password">Change password</label>
                     {{view Ember.TextField valueBinding="password" type="password" id="password" 
                                 class="form-control"}}
                    </div>
                  </div>
                </div>
                <br>

                    <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                         <label for="password_confirmation">Retype password</label>
                       {{view Ember.TextField valueBinding="password_confirmation" type="password" 
                                id="password_confirmation" class="form-control"}}
                    </div>
                  </div>
                </div>
                <br>

                <hr class="colorgraph">    
                <input {{action 'update' content.id}} type="submit" class="btn btn-primary col-md-12" value="Update profile"/>
              
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>