<div class="row">
  <div class="col-md-12 registration-msg">
    <h3> Create your account </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6 registration-description">
    <h4> One account is all you need </h4>

    <div class="registration-images">
      <img src="assets/coupons.png"></img>
      <img src="assets/find.png"></img>
      <img src="assets/administrator.png"></img>
    </div>
  </div>
  
  <div class="col-md-6 registration-form-holder">
    <div class="well">

      {{#if errors.length}}
        <div class="errors">
          {{#each errors}}
            <p> {{ this }} </p>
          {{/each}}
        </div>
      {{/if}}

      <form role="form">
        <div class="form-group">
          <label for="username">Choose username</label>
          {{view Em.TextField valueBinding="username" id="username" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          {{view Em.TextField valueBinding="email" id="email" class="form-control" 
                              placeholder="user@example.com"}}
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          {{view Ember.TextField valueBinding="password" type="password" id="password" 
                                 class="form-control"}}
          <p class="help-block">at least 6 chars</p>
        </div>

        <div class="form-group">
          <label for="password_confirmation">Confirm Password</label>
          {{view Ember.TextField valueBinding="password_confirmation" type="password" 
                                id="password_confirmation" class="form-control"}}
        </div>

        <div class="form-group">
          <input {{action 'register'}} type="submit" class="btn btn-primary" value="Register">
        </div>

      </form>
    </div>
  </div>

</div>