<div class="container">

    <br>
 
    <h1 class="text-center">Restaurants</h1><br>
    <h4 class="text-center"> Yours new favorite restaurant is out there – go ahead, dig in! </h4>
    <br>
   
    <div class="input-group">      
        {{view Ember.TextField valueBinding="name" type="text" id="name" class="form-control input-xlarge" placeholder="Search by name"}}
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
        </span>
    </div>
    <br>
    <button type="button" class="btn btn-success" {{action "all" }}>
        Search!
    </button>

    <br>
    <hr class="colorgraph">
    <br>

    <section class="col-xs-12 col-sm-6 col-md-12">
        {{#each item in controller}}
            <article class="search-result row">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <img {{bind-attr src=item.imagePath}} height="200" width="280">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-3">
                    <ul class="meta-search">
                        <li><i class="glyphicon glyphicon-home"></i> <span>{{item.address}}</span></li>
                        <li><i class="glyphicon glyphicon-phone-alt"></i> <span>{{item.telephone}}</span></li>
                        <li><i class="glyphicon glyphicon-link"></i><span>
                        <a {{bind-attr href=item.fb_url}}>{{item.name}}</a></span>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 excerpet">
                    <h3><b>{{item.name}}</b></h3>
                    <p>{{item.description}}</p>
                    
                    <iframe
                      width="540"
                      height="250"
                      frameborder="0" style="border:0"
                      {{bind-attr src=item.url}}>
                    </iframe>
                    
                    <br>
                   
                    <button type="button" class="btn btn-success btn-lg" {{action "vote" item.id}}>
                        Vote Now!
                    </button>   
                     
                </div>
                <span class="clearfix borda"></span>
            </article>
            <hr>
        {{/each}}
    </section>
</div>
