<div class="container">

    
  <span>Search: </span>{{view Ember.TextField valueBinding=filter}}
  <ul>
     </ul>
   <h1 class="text-center">Restaurants</h1>


    <section class="col-xs-12 col-sm-6 col-md-12">
        {{#each item in filteredContent}}
            <article class="search-result row">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <img {{bind-attr src="imagePath"}} height="180" width="280">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-2">
                    <ul class="meta-search">
                        <li><i class="glyphicon glyphicon-home"></i> <span>Address</span></li>
                        <li><i class="glyphicon glyphicon-phone-alt"></i> <span>{{item.telephone}}</span></li>
                        <li><i class="glyphicon glyphicon-link"></i><span>
                        <a {{bind-attr href="fb_url"}}>{{item.name}}</a></span>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                    <h3>{{#link-to "restaurant" item.id}}{{item.name}}{{/link-to}}</h3>
                    <p>{{item.description}}</p>
                    <button type="button" class="btn btn-success btn-lg" {{action "vote" id}}>
                        Vote Now!
                    </button>                     
                </div>
                <span class="clearfix borda"></span>
            </article>
            <hr>
        {{/each}}
    </section>
</div>
